body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    margin: 0;
}

section {
    padding: 60px;
    text-align: center;
}

.hero {
    background: #020617;
}

h1 {
    font-size: 48px;
}

.card {
    background: #1e293b;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}