* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI';
}

body {
    background:#0f172a;
    color:white;
}

nav {
    display:flex;
    justify-content:space-between;
    padding:20px 50px;
    background:#020617;
    position:sticky;
    top:0;
}

nav ul {
    display:flex;
    list-style:none;
    gap:20px;
}

nav a {
    color:white;
    text-decoration:none;
    transition:0.3s;
}

nav a:hover {
    color:#38bdf8;
}

.hero {
    min-height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#1e293b,#0f172a);
    text-align:center;
    padding:50px;
}

.hero-container {
    display:flex;
    flex-wrap:wrap;
    gap:40px;
    align-items:center;
    justify-content:center;
}

.hero-text {
    max-width:500px;
}

.hero-text h2 {
    color:#38bdf8;
    margin:10px 0;
}

.hero-text p {
    margin:10px 0;
    line-height:1.6;
}

.hero button {
    margin-top:20px;
    padding:12px 25px;
    border:none;
    background:#38bdf8;
    cursor:pointer;
}

.hero-stats {
    display:flex;
    gap:20px;
}

.stat-box {
    background:#1e293b;
    padding:20px;
    text-align:center;
    transition:0.3s;
}

.stat-box:hover {
    transform:scale(1.1);
    background:#38bdf8;
}

.about, .skills, .projects, .contact {
    padding:80px 50px;
    text-align:center;
}

.skill-grid {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
    margin-top:30px;
}

.card {
    padding:20px;
    background:#1e293b;
    transition:0.3s;
}

.card:hover {
    transform:scale(1.1);
    background:#38bdf8;
}

.project-grid {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    margin-top:30px;
}

.project-card {
    background:#1e293b;
    padding:20px;
    transition:0.3s;
}

.project-card:hover {
    transform:translateY(-10px);
}

footer {
    padding:20px;
    background:#020617;
    text-align:center;
}